<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    table#t01 {
        width: 100%;
        background-color: #f1f1c1;
    }
    </style>
</head>

<body>
    <table id="t01">
        <caption>Process Status</caption>
        <tr> <td> {{ process_info }} </td> </tr>
    </table>
    <br />

    <table id="t01">
        <caption>Order Status</caption>
        <tr>
            {% for item in orders[0] %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>

        {% for order in orders %}
        <tr>
            {% for item in order %}
                <td>{{ order[item] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</body>
</html>